/**
* Color Plate
**/

:root {
  --primary: #ff4522;
  --dark: #151942;
  --light: #fff;
  --lightgray: #fafafa;
}

/**
* RESET CSS
**/

body {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  background-color: var(--lightgray);
  user-select: none;
  overflow-y: scroll;
}

body,
#root,
.App {
  height: 100%;
}

.App {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input,
button,
select {
  outline: none;
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  border: none;
  background-color: transparent;
}

.form-input,
.register-form input,
.login-form input,
.add-form input {
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  background-color: var(--light);
  border: 1px solid var(--lightgray);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.container {
  margin: 100px auto 50px auto;
  width: 90%;
  max-width: 1240px;
  position: relative;
}


.popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.50);
  z-index: 100;
  display: grid;
  justify-items: center;
  align-items: center;
}

.entry-form {
  background-color: #fff;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  display: grid;
  grid-auto-rows: 50px;
  margin: 0 auto;
  box-shadow: 0 0px 15px 4px rgba(0, 0, 0, 0.2);
}

.url-input {
  display: block;
  width: -webkit-fill-available;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.decor-input {
  width: -webkit-fill-available;
  padding: 10px;
  line-height: 40px;
  color: #999999;
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed #ababab;
  margin-bottom: 20px;
  font-size: 20px;
}

.form {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}


/******
* REGISTER
******/
.register-form,
.login-form,
.add-form {
  background-color: var(--light);
  padding: 15px;
}

.register-form h1,
.login-form h1,
.add-form h1 {
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.register-form form,
.login-form form,
.add-form form {
  width: 100%;
  max-width: 500px;
  margin: 25px auto;
  display: grid;
  grid-auto-rows: 60px;
  grid-gap: 15px;
  align-items: center;
}

.action-btn {
  border: 2px solid var(--dark);
  padding: 10px;
  text-transform: uppercase;
  background-color: var(--light);
  color: var(--dark);
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

.action-btn:hover {
  background-color: var(--dark);
  color: var(--light);
  transition: 0.4s;
}

/* .register-form form {
  display: grid;
  grid-auto-rows: 60px;
  grid-gap: 15px;
  align-items: center;
} */
/* 
.register-form form {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
} */
/* 
.register-form .field {
  grid-column: 1 / 3;
} */


/******
* Header
******/

.header-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 7px 12px -10px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgb(231, 231, 231);
}

header {
  display: grid;
  grid-template-columns: -webkit-max-content repeat(2, 1fr);
  grid-template-columns: max-content 1fr max-content;
  grid-column-gap: 30px;
  height: inherit;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  max-width: 1240px;
}


.user-minidash {
  grid-column: 3/3;
  justify-self: end;
  justify-items: start;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
  width: 100%;
  align-items: center;
}

.main-nav>a {
  color: var(--dark);
  margin-right: 20px;
}

.reg-log-btn {
  border: 1px solid #eee;
  padding: 6px 10px;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
}

.reg-log-btn:hover {
  border: 1px solid var(--dark);
  transition: 1.5s;
}

.add-icon {
  color: var(--primary);
  font-size: 12px;
  vertical-align: 1px;
  margin-right: 10px;
}

.add-new {
  border: 2px solid var(--dark);
  background-color: transparent;
  color: var(--dark);
  font-weight: 600;
  border-radius: 10px;
}

.add-new:hover {
  border: 2px solid var(--primary);
  color: var(--primary);
  transition: 0.2s;
}

.add-icon:hover {
  color: var(--primary);
}


.logo {
  height: 24px;
  width: auto;
}

.user {
  display: grid;
  justify-items: right;
}

/******
* Footer
******/

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

/******
* Main deals grid
******/
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  grid-auto-rows: auto;
  grid-gap: 20px;
}

.card {
  background-color: #fff;
  display: grid;
  grid-gap: 20px;
  border-radius: 10px;
  grid-template-rows: minmax(190px, 200px);
  box-shadow: 0px 0px 6px #f5f5f5;
  border: 1px solid #f1f1f1;
  position: relative;
}

.card img {
  width: 100%;
  max-width: 180px;
  max-height: 180px;
  align-self: center;
  justify-self: center;
  object-fit: contain;
}

.info .title {
  text-align: center;
}

.title h5 {
  height: 20px;
  overflow: hidden;
}

.icon {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 99;
  color: var(--dark);
  cursor: pointer;
}

.icon:hover {
  color: #ff4522;
}


.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content 1fr 1fr;
  font-size: 15px;
  align-items: center;
  justify-items: center;
}

.info .title {
  text-align: center;
  grid-column: 1/4;
  grid-row: 1/3;
  font-size: 20px;
}

.meta-info {
  grid-column: 1/4;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-self: center;
  box-sizing: border-box;
  color: #a5a5a5;
  font-size: 13px;
  text-align: center;
}

.price {
  color: var(--primary);
}

.buy-now a {
  color: var(--dark);
}

.like {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 40px;
  width: 40px;
  background-color: var(--dark);
  border-radius: 50%;
}

.action {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  border-bottom: none !important;
  font-weight: 600;
  font-size: 18px;
}

.info>div {
  border-bottom: 1px solid #eee;
  width: 100%;
  padding: 10px 0;
}



/**
* Pagination
**/

.pagination {
  margin: 25px auto;
  width: 100%;
  max-width: 200px;
  text-align: center;
}

.load-more {
  background-color: transparent;
  border: 2px solid var(--dark);
  padding: 10px 20px;
  color: var(--dark);
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
}

.load-more:hover {
  background-color: var(--dark);
  color: var(--light);
  transition: 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.fade-in {
  animation: fadeIn 0.2s ease-in
}

/**
* Add Single deal
**/

.add-single-deal {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.add-deal-form {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
}

.deal-image {
  grid-column: 1/1;
  grid-row: 1/1;
  display: grid;
  justify-content: center;
}

.deal-image img {
  max-width: 350px;
}

.responsive-img {
  width: 100%;
  height: auto;
}

/******
* Preloader
******/

.spinner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  z-index: 100;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {

  0%,
  100% {
    -webkit-transform: scale(0.0)
  }

  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {

  0%,
  100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }

  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}